@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="section bg-lightgrey">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="col-md-6 col-md-offset-3">
            <form method="post">
                <h4>Sign in to your account</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="User.Email">Email</label>
                    <input asp-for="User.Email" class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="" />
                    <span asp-validation-for="User.Email" class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Password">Password</label>
                    <input asp-for="User.Password" class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password" />
                    <span asp-validation-for="User.Password" class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="/Register">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>