@{
    ViewData["Title"] = "";
}

<div id="room" class="section bg-lightgrey">
    <div class="container">
        <h2>Luxury Resorts</h2>
        <div class="col-md-6 col-md-offset-3">
            <h4>Welcome</h4>
            <hr />
            <p>Please <a asp-controller="Login" asp-action="UserLogin">sign in</a> or <a asp-controller="Login" asp-action="RegisterUser">register</a> a new account to use our booking system.</p>
        </div>
    </div>
</div>